.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.constrainer {
  width: 300px;
  height: 100px;
}

.Example {
  height: 100%;
  width: 100%;
  background-color: darkorange;
  text-align: center;
}